In [39]:
df_EC2034V <- ApiData(08536,
                      ContentsCode = "SysselBosted",
                      Region = c('0301', '5001', '1103', '4601'),
                      NACE2007 = "66",
                      Kjonn = "0",
                      Tid = "2021")[[2]]
df_EC2034V

  Region Kjonn NACE2007 ContentsCode Tid  value
1 0301   0     66       SysselBosted 2021 3575
2 1103   0     66       SysselBosted 2021  262
3 4601   0     66       SysselBosted 2021  518
4 5001   0     66       SysselBosted 2021  301

In [37]:
# create table

EC2034V <- df_EC2034V %>%
                rename(Value = value)

# apply klass and merge with correspondence

EC2034V$navn <- ApplyKlass(EC2034V$Region, klass = 131)

EC2034V_2021 <-  merge.data.frame(EC2034V,
                                  city_correspondence,
                                  by.x = "navn",
                                  by.y = "name")

# table formatting

EC2034V_2021 <- table_formatting("EC2034V_2021")

In [38]:
EC2034V_2021

  City_code Variable_code Reference_year Value Flags Footnote
1 NO001C    EC2034V       2021           3575
2 NO002C    EC2034V       2021            262
3 NO003C    EC2034V       2021            518
4 NO004C    EC2034V       2021            301